{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
<div id="latest-post" class="post">
    <div class="entry">
        <p>As a sister meet-up to <a href="http://sockpuppet.org/chisec/">ChiSec</a>, 
            BurbSec is the Chicago Suburb’s very own information meet-up of folks in 
            Information Security, Researchers, and all things in-between!
        </p>Unlike other meetings, there are no “dues”, nothing to join, and no exploits 
            to present! Don’t worry about being late, people will begin to roll in 
            after-work around 5:30pm and we will finish up whenever people leave 
            (generally 4 - 5 hours or so as people come and go).
        </p>
        <p>What to expect? An informal night of great networking and lubricated conversations!</p>
        <p><span id="sponsor">**Want to sponsor refreshments? <a href="mailto:burbsec@haverkos.com">Contact us!</a></span></p>
        <hr />
        <div id="venue">
            *Every <span class="show-off">First Thursday</span> of the Month<br />
            Time: <span class="show-off">6:15pm - 10pm(ish)</span><br />
            <br />
            The location of BurbSec is: <br />
                Fox and Hound<br />
                1416 N Roselle Rd<br />
                Schaumburg, IL 60195-3645<br />
                (847) 884-6821<br /><br />
            <small>*NOTE: Deviations may occur, check the 
                <a href="http://twitter.com/burbsec">BurbSec Twitter Account</a> 
                and the <a href="https://twitter.com/search?q=%23burbsec">#BurbSec Twitter Feed</a>.
            </small>
        </div>
        <div id="venue-logo">
            <a href="https://maps.google.com/maps/ms?msid=207637973045643996273.0004ea841c35f612f72e5&msa=0">
                <img src="{{ SITEURL }}/theme/images/venue.jpg" />
                <p>Click for Map</p>
            </a>
        </div>
    </div>
</div>
<div id="recent-posts">
    <div class="subgroup">
        <a href="http://west.burbsec.com">
            <img src="{{ SITEURL }}/theme/images/groups/west.png" />
        </a>
    </div>
    <div class="subgroup">
        <a href="http://north.burbsec.com">
            <img src="{{ SITEURL }}/theme/images/groups/north.png" />
        </a>
    </div>
    <div class="subgroup">
        <a href="http://racing.burbsec.com">
            <img src="{{ SITEURL }}/theme/images/groups/race.png" />
        </a>
    </div>
    <div class="subgroup">
        <a href="http://cigars.burbsec.com">
            <img src="{{ SITEURL }}/theme/images/groups/cigars.png" />
        </a>
    </div>
    <div id="twitter-timeline-widget">
        <a class="twitter-timeline" 
            href="https://twitter.com/search?q=%23burbsec" 
            data-widget-id="350000668775424000">Tweets about "#burbsec"
        </a>
        <script>
            !function(d,s,id){
                var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
                if(!d.getElementById(id)){
                    js=d.createElement(s);
                    js.id=id;
                    js.src=p+"://platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js,fjs);
                }
            }(document,"script","twitter-wjs");
        </script>
    </div>
</div>
{% endblock content %}
