{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
{% if articles %}
{% for article in articles %}
    {% if loop.index == 1 %}
     <div id="latest-post" class="post">
        <h1 class="title"><a href="{{ SITEURL }}/{{ article.url
        }}">{{ article.title }}</a></h1>
        {% include 'article_infos.html' %}
        <div class="entry">
            {{ article.content }}
        </div>
    </div>
    {% if loop.length > 1 %}
    <div id="recent-posts">
    {% endif %}
    {% else %}
         <div class="post">
            <h1 class="title"><a href="{{ SITEURL }}/{{ article.url
            }}">{{ article.title }}</a></h1>
            {% include 'article_infos.html' %}
            <div class="entry">
                {{ article.summary }}
            </div>
        </div>
    {% endif %}
    {% if loop.length > 1 and loop.index == loop.length %}
    </div>
    {% endif %}
{% endfor %}
{% else %}
<h2>Pages</h2>
{% for page in PAGES %}
    <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
{% endfor %}
{% endif %}
{% endblock content %}
